@inherits LayoutComponentBase

<PageTitle>QuickForm test</PageTitle>

<main class="w-100 h-100 justify-content-center align-middle text-center">
    <article class="w-100 h-100">
        @Body
    </article>
</main>