@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [System.ComponentModel.DataAnnotations.Range(typeof(string), "min", "max")]
        public string A { get; set; } = default!;

        [System.ComponentModel.DataAnnotations.Range(1, 10)]
        public int B { get; set; }

        [System.ComponentModel.DataAnnotations.Range(1.0f, 10.0f)]
        public float C { get; set; }

        [System.ComponentModel.DataAnnotations.Range(typeof(string), "2020-01-01", "2023-12-31")]
        public DateTime D { get; set; }

        [System.ComponentModel.DataAnnotations.Range(typeof(string), "10:00", "12:00")]
        public TimeOnly E { get; set; }
    }

    [Test]
    public void Test()
    {
        // arrange
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        // assert
        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <input min="min" max="max" diff:ignoreAttributes/>
                     <input min="1" max="10" step="any" type="number" value="0" diff:ignoreAttributes/>
                     <input min="1" max="10" step="any" type="number" value="0" diff:ignoreAttributes/>
                     <input min="2020-01-01" max="2023-12-31" type="datetime-local" value="0001-01-01T00:00:00" diff:ignoreAttributes/>
                     <input min="10:00" max="12:00" type="time" value="00:00:00" diff:ignoreAttributes/>
                 </form>
             </text>);

        Print(cut);
    }
}