@using System.ComponentModel.DataAnnotations
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [DataType("range")]
        [System.ComponentModel.DataAnnotations.Range(typeof(string), "min", "max")]
        public string A { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <input diff:ignoreAttributes type="range" min="min" max="max"/>
                 </form>
             </text>);

        Print(cut);
    }
}