@using System.ComponentModel.DataAnnotations
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [Editable(false)] public string A { get; set; } = default!;

        // get only
        public string B => default!;

        public string C { get; init; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <input disabled="true" readonly="true" diff:ignoreAttributes/>
                     <input disabled="true" readonly="true" diff:ignoreAttributes/>
                     <input disabled="true" readonly="true" diff:ignoreAttributes/>
                 </form>
             </text>);

        Print(cut);
    }
}