@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [Display(Name = "name", Description = "description")]
        public string A { get; set; } = default!;

        [DisplayName("name")]
        [System.ComponentModel.Description("description")]
        public string B { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     <div>
                         <label>@context.DisplayName</label>
                         <description>@context.Description</description>
                     </div>
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <div>
                         <label>name</label>
                         <description>description</description>
                     </div>

                     <div>
                         <label>name</label>
                         <description>description</description>
                     </div>
                 </form>
             </text>);

        Print(cut);
    }
}