@using Microsoft.AspNetCore.Components.Forms
@using QuickForm.Attributes
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [DateType(InputDateType.Date)] public DateTime A { get; set; }

        [DateType(InputDateType.Time)] public DateTime B { get; set; }

        [DateType(InputDateType.Month)] public DateTime C { get; set; }

        [DateType(InputDateType.DateTimeLocal)]
        public DateTime D { get; set; }
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <input type="date" value="0001-01-01" diff:ignoreAttributes/>
                     <input type="time" value="00:00:00" diff:ignoreAttributes/>
                     <input type="month" value="0001-01" diff:ignoreAttributes/>
                     <input type="datetime-local" value="0001-01-01T00:00:00" diff:ignoreAttributes/>
                 </form>
             </text>);

        Print(cut);
    }
}