@using QuickForm.Attributes
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [Placeholder] public string A { get; set; } = default!;

        [Placeholder("B Placeholder")] public string B { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <input diff:ignoreAttributes placeholder:ignoreCase="enter a..."/>
                     <input diff:ignoreAttributes placeholder:ignoreCase="b placeholder"/>
                 </form>
             </text>);

        Print(cut);
    }
}