@using System.ComponentModel.DataAnnotations
@using QuickForm.Attributes
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [ValidFeedback("valid message")] public string A { get; set; } = default!;

        [Required(ErrorMessage = "error message")]
        public string B { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     <div>
                         @context.InputComponent(string.Empty)
                         @context.ValidFeedback
                         @context.ValidationMessages(string.Empty)
                     </div>
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <div>
                         <input diff:ignoreAttributes/>
                         valid message
                     </div>

                     <div>
                         <input diff:ignoreAttributes/>
                     </div>
                 </form>
             </text>);

        Print(cut);

        cut.Find("[required]").Change(string.Empty);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <div>
                         <input diff:ignoreAttributes autofocus/>
                         valid message
                     </div>

                     <div>
                         <input diff:ignoreAttributes/>
                         <div class="validation-message" diff:ignoreChildren></div>
                     </div>
                 </form>
             </text>);

        Print(cut);
    }
}