@using System.ComponentModel.DataAnnotations
@using QuickForm.Attributes
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [ValidFeedback("valid-feedback-text")]
        [System.ComponentModel.Description("description-text")]
        [Required(ErrorMessage = "required-error-message")]
        public string A { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     <ChildContent>
                         <div>hello</div>
                     </ChildContent>
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <div>hello</div>
                 </form>
             </text>);

        Print(cut);
    }
}