@using System.ComponentModel.DataAnnotations
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private enum Enum
    {
        [Display(Name = "a")] A,

        [Display(Name = "b")] B
    }

    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        public Enum A { get; set; } = Enum.A;
    }

    [Test]
    public void Test()
    {
        var model = new Model();

        var cut = Render(
            @<text>
                 <QuickForm Model="model">
                     @context.InputComponent(string.Empty)
                 </QuickForm>
             </text>);

        cut.MarkupMatches(
            @<text>
                 <form diff:ignoreAttributes>
                     <select value="A" diff:ignoreAttributes>
                         <option value="A" selected>a</option>
                         <option value="B">b</option>
                     </select>
                 </form>
             </text>);

        Print(cut);
    }
}