@using QuickForm.Attributes
@inherits BaseTest

@code
{
    [SuppressMessage("ReSharper", "UnusedMember.Local")]
    private class Model
    {
        [EditorClass("editor")]
        [LabelClass("label")]
        [InputClass("input")]
        public string A { get; set; } = default!;
    }

    [Test]
    public void Test()
    {
        // arrange
        var model = new Model();

        var cut = Render(
            @<text>
                <QuickForm Model="model"/>
             </text>);

        // assert
        cut.MarkupMatches(
            @<text>
                <form diff:ignoreAttributes>
                    <div class="editor">
                        <label for:ignoreCase:regex="@IdRegex" class="label" diff:ignoreChildren></label>
                        <input id:ignoreCase:regex="@IdRegex" autofocus class="input valid"/>
                    </div>
                </form>
             </text>);

        NUnit.Framework.TestContext.Out.WriteLine(cut.Markup);
    }
}