@inherits LayoutComponentBase

<main class="flex flex-col sm:flex-row h-full w-full transition-colors">
    <article class="flex justify-center items-center w-full h-full bg-neutral-300 p-2">
        <div class="flex flex-row justify-center items-center w-full h-full bg-neutral-300 p-2
                    overflow-y-scroll overflow-x-hidden scrollbar-none
                    rounded-md bg-topo border-2 border-dotted border-neutral-100">
            @Body
        </div>
    </article>
</main>
