@page "/test"

<PageTitle>Bootstrap example</PageTitle>

<form class="form w-50 mx-auto">

    <div class="text-start mb-3">
        <label class="text-info fw-bold mb-1">
            Email Address
        </label>

        <div class="form-check is-valid">
            <input id="a" value="a" name="flexRadioDefault" class="form-check-input" type="radio" required
                   @onchange="OnChange">
            <label for="a" class="form-check-label">
                aaaaaa
            </label>
        </div>

        <div class="form-check">
            <input id="b" value="b" name="flexRadioDefault" class="form-check-input" type="radio" required
                   @onchange="OnChange">
            <label for="b" class="form-check-label">
                bbbbbb
            </label>
        </div>

        <div class="form-check">
            <input id="c" value="c" name="flexRadioDefault" class="form-check-input" type="radio" required
                   @onchange="OnChange">
            <label for="c" class="form-check-label">
                cccccc
            </label>
        </div>

        <div class="form-text text-muted">
            We will never share your choice with anyone
        </div>

        <div class="valid-feedback fw-bold">
            Looks good!
        </div>

        <div class="invalid-feedback fw-bold">
            <div class="validation-message">
                The EmailAddress field is not a valid e-mail address.
            </div>
        </div>
    </div>
</form>

@code
{
    private static void OnChange(ChangeEventArgs args)
    {
        Console.WriteLine(args.Value);
    }
}