@page "/basic_login"

<div class="flex flex-col w-full h-full justify-center align-middle gap-5">
    <div class="flex mt-5 flex-row w-full justify-center align-middle gap-3 text-black">
        <button @onclick="@SetPreview" class="bg-gray-500 text-white font-bold px-5 py-2 rounded-md">
            Show Component
        </button>

        <button @onclick="@SetCode" class="bg-gray-500 text-white font-bold px-5 py-2 rounded-md">
            Show source
        </button>
    </div>

    <hr/>

    @if (State == "preview")
    {
        <div class="w-full flex justify-center align-middle">
            <BasicLoginForm/>
        </div>
    }
    else
    {
        <pre class="language-razor rounded-md">
<code class="language-razor">&lt;QuickForm Model="Model" class="flex flex-col text-white text-start gap-3 w-1/4"&gt;
    &lt;ChildContent&gt;
        &lt;div class="flex flex-col gap-1"&gt;
            &lt;label for="@@context.EditorId" class="font-semibold"&gt;
                @@context.DisplayName
            &lt;/label&gt;

            @@context.InputComponent("peer rounded-md border-2 bg-gray-100 text-black border-gray-300 dark:border-white p-1")

            @@if (!string.IsNullOrEmpty(context.Description))
            {
                &lt;span class="font-sm text-gray-500"&gt;
                    @@context.Description
                &lt;/span&gt;
            }

            @@if (!string.IsNullOrEmpty(context.ValidFeedback))
            {
                &lt;span class="hidden peer-[.valid]:block text-sm text-start text-green-700 font-bold"&gt;
                    @@context.ValidFeedback
                &lt;/span&gt;
            }

            @@context.ValidationMessages("hidden peer-[.invalid]:block text-start text-sm text-red-700 font-bold")
        &lt;/div&gt;
    &lt;/ChildContent&gt;

    &lt;SubmitButtonTemplate&gt;
        &lt;button type="submit" class="border border-green-500 text-green-500 hover:bg-gray-900 hover:border-green-600 hover:text-green-600 font-bold py-2 px-4 rounded"&gt;
            Login
        &lt;/button&gt;
    &lt;/SubmitButtonTemplate&gt;
&lt;/QuickForm&gt;
</code>
</pre>
    }
</div>

@code
{
    private string State { get; set; } = "preview";

    private void SetPreview()
    {
        State = "preview";
        StateHasChanged();
    }

    private void SetCode()
    {
        State = "code";
        StateHasChanged();
    }
}