@page "/"

<div class="flex flex-col text-gray-300 gap-3 select-none">
    <h1 class="text-2xl">QuickForm examples</h1>

    <nav class="flex flex-row w-full gap-3 text-black">
        <a href="bootstrap" class="bg-gray-500 text-white font-bold px-5 py-2 rounded-md">bootstrap</a>
        <a href="tailwind" class="bg-gray-500 text-white font-bold px-5 py-2 rounded-md">tailwind</a>
        <a href="custom" class="bg-gray-500 text-white font-bold px-5 py-2 rounded-md">custom</a>
    </nav>
</div>